# Vim swap files
.*.sw*
# The vim directory settings file to auto commit/push wiki changes
.vimdir
# The net-rw history file that gets created due to the symlink to vimrc
vim/.vim/.netrwhist

vim/plugins_local.txt
# Vim locally created dictionaries
vim/.vim/spell

# All the tmux plugins
tmux/.tmux/*

# We create .stowrc from dot.stowrc on every install.sh run, so we ignore
# .stowrc
.stowrc
