[user]
    name = Tom Coetser
    email = tom.coetser@kazang.com
[credential]
    helper = cache --timeout=3600
[alias]
    civ = commit -v
    gr = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
    st = status
    logo = log --oneline
    br = branch -v
    co = checkout
    ci = commit
    gvimdiff = difftool --tool=gvimdiff --no-prompt HEAD
    d = difftool
    rem = remote

    # From here: https://blog.jez.io/cli-code-review/
    #
    # List files which have changed since REVIEW_BASE
    # (REVIEW_BASE defaults to 'master' in my .bashrc))
    files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")

    # Same as above, but with a diff stat instead of just names
    # (better for interactive use)
    stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")

    # Open all files changed since REVIEW_BASE in Vim tabs
    # Then, run fugitive's :Gdiff in each tab, and finally
    # tell vim-gitgutter to show +/- for changes since REVIEW_BASE
    review = !gvim -p $(git files) +\"tabdo Gvdiffsplit $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"

    # Same as the above, except specify names of files as arguments,
    # instead of opening all files:
    # git reviewone foo.js bar.js
    reviewone = !gvim -p +\"tabdo Gvdiffsplit $REVIEW_BASE\" +\"let g:gitgutter_diff_base = '$REVIEW_BASE'\"
[push]
    default = simple
[core]
    excludesfile = ~/.gitignore-global
[github]
    user = fitzterra
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[commit]
    verbose = True
[safe]
	directory = /opt/homebrew
[filter "lfs"]
    # Make it easier to work with git large file support
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
